# Week-2-Workshops
## Instructions and Requirements:
This workshops is | divided into five different sections:
  *    Connect drive, or upload your datasets in the colab
  * Open and Load the datasets into google colab Read and display the datasets using pandas Questions to answer
  * Data transfomation(Basic)
  * Basic Descriptive Statistical Anlysis(Measurement of Central Tendency) and(Measurement of Dispersion)
  * Basic Data Visualization using different plots techniques
  * Data Analysis and Visualization
  ## Requirements:
    *   Notebook Environment(Jupyter or Google Colab)

*   Author: Siman Giri
*   Co-Author: Anmol Adhikari

# Section 0
Connect drive, or upload datasets in the colab
1. Necessary imports

Mounted at /content/drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path_datasets = "/content/drive/MyDrive/bank.csv"

In [3]:
#Necessary imports:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## Section 1
Open and Load the datasets into google colab
Read and display the dataets using pandas
Questions to answer:

1. Load the provided dataset in google collab and import data in pandas dataframe.

In [4]:
df = pd.read_csv(path_datasets)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

2. Show first five rows of the dataframe.

3. Show Last five rows of the dataframe.

4. Check info of the columns in the datasets.

5. Check for null and unique values in the columns having object data type.

# Section:2
Data transfomation
1. Convert housing, default, loan and the target variable y into binary; yes - 1, no - 0
2. (perform this task with all the columns having datatype object)
3. create a new column duration_minutes whose values should be based on the values present in the duration column transformed from seconds to minutes

# Section 3
Basic Descriptive Statistical Anlysis
1. Carryout initial Data Analysis Sum, mean, mode, median, max, min

# Section 4
Basic Datavisualization
1. Plot histograms of age
2. plot in bar showing number of subscriptions according to level of education
3. plot in bar showing number of subscriptions according to job  
1. Plot bar chart for age,balance
2. Plot histograms of balance

# Section 5
Data Visualization and Analysis
1. Check number of acceptance and rejection in target variable y and plot in pie chart
2. Check Total number of clients who subscribed according to the marital status
3. Check Total number of clients on the basis of education
4. Check the general level of education of people based on the provided data set
5. Calculate the ratio who said yes according to their education

# Further Practice Tasks
1. Check how many categorical samples are there in column 'Target'
2. Visualise count plot
# Split DataSet into 2 parts
1. Numeric type and Categorical type
2. Check Age Class Distribution and also visualize
3. Check Marital Feature Distribution and also visualize
4. Relation between top 5 client jobs and their ages and also visualize
5. Bar plot for all categorical variables in the dataset

In [ ]:
|